/whisper
/myenv
/books
.env
ganeshrag-3dbd797255c6.json
/downloaded_audios
/audio_chunks
audiodata.ipynb
mygitoken
/docs
transcription_full.txt
/downloaded_audio
Refutation_of_Ganapatyas.txt
augmentation.py
dataIngestion.ipynb
embeddings.npy
devanagari_ocr.py
retriever.py
vectorstore.py
oldretriever.txt
oldnodes.txt
index.html
oldapp.txt